[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/trol98/glfw
	branch = master
[submodule "ShadowMapping/src/vendor/glm"]
	path = ShadowMapping/src/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ShadowMapping/src/vendor/glm"]
	path = ShadowMapping/src/vendor/glm
	url = https://github.com/g-truc/glm